/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery-image {
  /* width : 360px;
  height :200px; */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery-link {
  
}
.gallery-item {
 
}
.main-title {
/* text-align: center;   */
color: rgb(13, 4, 21);
}
  
.modal-image {
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  text-align: center;
 }
 .info-about{
  display: flex;
  gap: 5px;
  flex-direction: row;
 }
.info{
  display: flex;
  flex-direction: column;
}
.cl-name {
  font-size: 9px;
}
.cl-number {
  font-size: 8px;
  text-align: center;
}
.search-form{
  text-align: center;
 
  font-size:30px;
} 
.search-input {
  font-size: 16px;
  flex-grow: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
  border-radius: 8px;
}
.search-input:focus {
  outline: none;
  border: 1px solid #4e75ff;
  color: #4e75ff;
}

.search-button {
  font-size: 16px;
  height: 40px;
  padding: 10px 20px;
  margin: auto;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.loader {
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.loader.active {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 32px auto;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.load-more-btn.is-hidden {
  display: none;
}